.search {
    background: #EFF4FA;
    width: 100%;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border-radius: 30px;

    .icon {
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;

        i {
            font-size: 25px;
            color: #42474A;
            margin: auto;
        }
    }

    input {
        font-size: 25px;
        outline: none;
        border: none;
        width: 100%;
        background: transparent;
    }
}
