<div class="search">
    <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input placeholder="Пошук контактів" />
    <div class="icon">
        <i class="fa-solid fa-microphone"></i>
    </div>
    <div class="icon">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
</div>

@code {

}
