.subscriber-area {
    display: flex;
    margin-bottom: 20px;

    .icon {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: #AF5CF6;
        display: flex;

        p {
            margin: auto;
            color: #ffffff;
            font-size: 30px;
        }
    }



    p {
        margin: auto;
        margin-left: 20px;
        font-size: 20px;
        color: #2C2C2C;
    }
}
